@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");

@theme {
  --color-primary: #5f6fff;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

* {
  font-family: Outfit;
}
